.search {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    padding: 10px;
  }

  button {
    padding: 10px;
  }
}

.cards {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .cards-inner {
    max-width: 100%;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card {
      max-width: 320px;
      width: 100%;
      height: 350px;
      margin: 20px;
      border: 1px solid #000;

      .description {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }

      .img {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
