* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        margin-left: 20px;

        Link{
          text-decoration: none;
          color:#000;
        }
      }
    }
  }
}
